<form class = "form-horizontal" method = "post">
	<fieldset>
		<legend>User set up</legend>
		<div class="control-group">
			<label class="control-label" for = "username">Username</label>
			<div class = "controls">
				<input type="text" class="input-xlarge" id = "username" name ="username">
				<p clas = "help-block"> Your username, used for login and display</p>
			</div>
		</div>
		<div class = "control-group">
			<label class="control-label" for = "password">Password</label>
			<div class = "controls">
				<input type="password" class="input-xlarge" id = "password" name ="password">
			</div>
		</div>
		<div class = "control-group">
			<label class="control-label" for = "password-repeat">Repeat password</label>
			<div class = "controls">
				<input type="password" class="input-xlarge" id = "password-repeat" name ="password-repeat">
			</div>
		</div>
		<div class = "form-actions">
			<button type ="submit" class="btn btn-primary">Register</button>
		</div>
	</fieldset>
</form>